#left_black_rectangle {
    color: black;
    background-color: black;
    width: 20vw;
    height: 100vh;

}

.linkedin_element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 74%;
    left: 2.5%;
    height: 5vh;
    width: 5vw;
}

.github_element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 79.5%;
    left: 3%;
    height: 4vh;
    width: 4vw;
}

.instagram_element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 79.9%;
    left: 7.5%;
    height: 3.5vh;
    width: 3.5vw;
}

.twitter_element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 79.9%;
    left: 12%;
    height: 3.5vh;
    width: 3.5vw;
}

.divider_element {
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 81%;
    left: 1.7%;
    height: 10vh;
    width: 15vw;
}

.projects_element {
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 18%;
    left: 7%;
    height: 3.5vh;
    width: 3.5vw;
    z-index: 1;
    text-decoration: none;
}

.writing_element {
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 23%;
    left: 7%;
    height: 3.5vh;
    width: 3.5vw;
    z-index: 1;
    text-decoration: none;
}
.contact_element {
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 28%;
    left: 7%;
    height: 3.5vh;
    width: 3.5vw;
    z-index: 1;
    text-decoration: none;
}

.pictures_element {
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 33%;
    left: 7%;
    height: 3.5vh;
    width: 3.5vw;
    z-index: 1;
    text-decoration: none;
}


.text-size {
    font-size: 25px;
}

#projects {

}
#writing {
    
}
#contact {
    
}
#pictures {
    
}