#left-black-rectangle {
    color: black;
    background-color: black;
    width: 20vw;
    height: 100vh;

}

#grey-rectangle {
    color: grey;
    background-color: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 20%;
    width: 80vw;
    height: 25vh;
    z-index: -1;
}

#black-rectangle-project {
    color: black;
    background-color: black;
    width: 100vw;
    height: 10vh;
}

.grey-complete {
    color: grey;
    background-color: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.white-line-vertical {
    color: white;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 50%;
    width: 1px;
    height: 100vh;
    z-index: 5;
}

.white-line-horizontal {
    color: white;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 22%;
    left: 50%;
    width: 100vw;
    height: 1px;
    z-index: 5;
}

.second-white-line-horizontal {
    color: white;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0%;
    width: 100vw;
    height: 1px;
    z-index: 5;
}

#image-location {
    color: white;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 20%;
    width: 20vw;
    height: 25vh;
    z-index: -1;
}

.image-location-project {
    color: white;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0%;
    width: 50vw;
    height: 50vh;
    z-index: 3;
}

#link-element {
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 20%;
    width: 100vw;
    height: 25vh;
    z-index: 10;
}

.linkedin-element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 74%;
    left: 2.5%;
    height: 5vh;
    width: 5vw;
}

.github-element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 79.5%;
    left: 3%;
    height: 4vh;
    width: 4vw;
}

.instagram-element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 79.9%;
    left: 7.5%;
    height: 3.5vh;
    width: 3.5vw;
}

.twitter-element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 79.9%;
    left: 12%;
    height: 3.5vh;
    width: 3.5vw;
}

.divider-element {
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 81%;
    left: 1.7%;
    height: 10vh;
    width: 15vw;
}

.projects-element {
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 18%;
    left: 7%;
    height: 3.5vh;
    width: 3.5vw;
    z-index: 1;
    text-decoration: none;
}

.writing-element {
    color: white;
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 23%;
    left: 7%;
    height: 3.5vh;
    width: 3.5vw;
    z-index: 1;
    text-decoration: none;
}
.contact-element {
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 28%;
    left: 7%;
    height: 3.5vh;
    width: 3.5vw;
    z-index: 1;
    text-decoration: none;
}

.pictures-element {
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 33%;
    left: 7%;
    height: 3.5vh;
    width: 3.5vw;
    z-index: 1;
    text-decoration: none;
}

.go-back-element {
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 3%;
    left: 3%;
    height: 3.5vh;
    width: 3.5vw;
    z-index: 1;
    text-decoration: none;
    white-space: nowrap;
}

.text-location {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 42%;
    width: 80vw;
    height: 25vh;
    z-index: 1;
}

button {
    border: none;
    outline: none;
}

.project-title {
    background-color: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 11%;
    left: 51%;
    width: 25vw;
    height: 6vh;
    white-space: nowrap;
    z-index: 10;
}

.github-repository {
    background-color: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 16%;
    left: 51.2%;
    width: 25vw;
    height: 6vh;
    z-index: 10;
}

.README {
    background-color: grey;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 52%;
    width: 25vw;
    height: 10vh;
    z-index: 10;
}

.back-projects-element {
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 3%;
    left: 7%;
    height: 3.5vh;
    width: 3.5vw;
    z-index: 1;
    text-decoration: none;
}

.text-size {
    
    font-size: 25px;
}

#title {
    position: absolute;
    color: white;
    top: 80px;
    left: 45px;
}

#hello {
    color: black;
    position: absolute;
    font-size: 32px;
    top: 190px;
    left: 890px;
    z-index: 1;

}

#welcome {
    color: black;
    position: absolute;
    font-size: 32px;
    top: 190px;
    left: 770px;
    z-index: 1;

}

#glad {
    color: black;
    position: absolute;
    font-size: 32px;
    top: 190px;
    left: 790px;
    z-index: 1;

}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-out {
    opacity: 1;
    transition: opacity 2s ease-out-in;
}

.show {
    opacity: 1;
}

.remove-show {
    opacity: 0;
}


#projects {

}

#back-to-main-page {

    white-space: nowrap;

}

#writing {

    background-color: transparent;
}
#contact {
    
}
#pictures {
    
}